{% comment %}
This is an empty layout to eliminate build warnings.

Categories are stored in a markdown files in the `_categories` folder.

Each one of the categories specifies that it uses the category layout, because
in the project where they originated, they did.

In this project, we don't have category pages so we don't have, need, or want a
category layout.

We could change the layout to `null` in each category, but when we import
updated data from the original project we would need to do it again.
{% endcomment %}
